<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>

<body>
  <div class="container not-found">
    <img src="images/404.png" class="text-center" />
    <div class="not-found__body">
      <h2>Upsss page requested not found!!!</h2>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
