<%- include('partials/head.ejs'); %> <%- include('partials/navbar.ejs'); %>
<div class="card m-2" style="width: 80%">
  <div class="card-body">
    <h5 class="card-title text-center">Countries API</h5>
    <img src="images/UNFlag.svg" alt="UN Flag" />
    <p class="card-text">
      Bienvenidos a esta API sobre países. <br />El objetivo de ésta es el
      ayudar al usuario a obtener información relevante sobre cada país
    </p>
  </div>
</div>

<%- include('partials/footer.ejs'); %>
