.container.not-found {
  position: relative;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found__body {
  position: absolute;
  top: 240px;
}

img {
  width: clamp(250px, 60%, 80%);
}

footer {
  position: absolute;
  bottom: 0;
}
